{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "@typescript-eslint/ban-ts-ignore": "off",
    "@typescript-eslint/ban-ts-comment": "off",
    "@typescript-eslint/no-this-alias": "off",
    "no-prototype-builtins": "warn",
    "@typescript-eslint/no-empty-function":"warn",
    "no-case-declarations": "warn",
    "@typescript-eslint/no-namespace":"warn",
    "no-inner-declarations": "warn",
    "@typescript-eslint/no-var-requires": "warn"
  }
}